SUPABASE_PROJECT_ID="supabase-id"
SUPABASE_PUBLISHABLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdvYmZkbXRma2d0aWVja3ViZndmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE4NTM0NzgsImV4cCI6MjA5NzQyOTQ3OH0.Wb6yDjwtvjuKqeK3rpxQEQyNLnS5FslKTzZTiB5CpT8"
SUPABASE_URL="https://gobfdmtfkgtieckubfwf.supabase.co"
VITE_SUPABASE_PROJECT_ID="gobfdmtfkgtieckubfwf"
VITE_SUPABASE_PUBLISHABLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdvYmZkbXRma2d0aWVja3ViZndmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE4NTM0NzgsImV4cCI6MjA5NzQyOTQ3OH0.Wb6yDjwtvjuKqeK3rpxQEQyNLnS5FslKTzZTiB5CpT8"
VITE_SUPABASE_URL="https://gobfdmtfkgtieckubfwf.supabase.co"


VITE_YOUTUBE_API_KEY="AIzaSyA1n_If-2Hnt63Jo1__piQDFNmDKi1y09E"
VITE_YOUTUBE_CHANNEL_ID="@xyrenz.x"